---
layout: base.njk
title: Not found
hideSidebar: true
permalink: /404.html
eleventyExcludeFromCollections: true
---
<article class="prose">
  <h1>404</h1>
  <p class="kicker">
    <span data-l="en">This page does not exist.</span>
    <span data-l="vi">Trang này không tồn tại.</span>
  </p>
  <p class="about-links">
    <a class="btn" href="/"><span data-l="en">Front page</span><span data-l="vi">Trang chủ</span></a>
    <a class="btn" href="/vault/"><span data-l="en">Vault</span><span data-l="vi">Vault</span></a>
  </p>
</article>
