---
layout: base.njk
---
<article class="prose">
  <h1>{{ title }}</h1>
  <p class="kicker">
    <time datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time>
    &middot; {{ lang | upper }}
  </p>

  {% include "vote.njk" %}

  {{ content | safe }}

  {% include "vote.njk" %}
</article>
