---
layout: base.njk
title: About Author
section: about
hideSidebar: true
permalink: /vault/about/
---
<article class="prose">
  <h1><span data-l="en">About Author</span><span data-l="vi">Tác giả</span></h1>
  <p class="kicker">Huỳnh Mai Phúc &middot; Plone Mraz</p>
</article>
