---
layout: base.njk
title: Contact
section: contact
hideSidebar: true
permalink: /vault/contact/
---
<article class="prose">
  <h1><span data-l="en">Contact</span><span data-l="vi">Liên hệ</span></h1>
  <p><a href="mailto:plone.mraz@gmail.com">plone.mraz@gmail.com</a></p>
  <p><a href="https://orcid.org/0009-0009-0571-7151">ORCID 0009-0009-0571-7151</a></p>
</article>
